.body {
    background-image: radial-gradient(circle, #db4444, #e42323);

}
label {
    font-size: 14px;
    color: #333333;
    margin-bottom: 0.1em;
    margin-top: 0.5em;
    display: block;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #cc2929;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}